<div>
    <style>
        .cke_reset_all .autocomplete-light-widget {
            background-color:white;
        }
        .cke_reset_all .autocomplete-light-widget, .cke_reset_all .autocomplete-light-widget * {
            white-space:normal;
        }
        .cke_reset_all .fa:before, .cke_reset_all .fa:after {
            font: normal normal normal 14px/1 FontAwesome
        }
        .cke_reset_all a.ac_preview_link * {
            color:#428bca;
        }
    </style>
    {{ form.as_p }}</div>